/src/Pixsys.Library.QrCode.QrCodeManager/.build/CakeRelease/Semantic/node_modules
/src/Pixsys.Library.QrCode.QrCodeManager/.vs/
/src/Pixsys.Library.QrCode.QrCodeManager/Pixsys.Library.QrCode.QrCodeManager/bin/
/src/Pixsys.Library.QrCode.QrCodeManager/Pixsys.Library.QrCode.QrCodeManager/obj/
